body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 10px;
}

header {
    text-align: center;
    background-color: #0056b3;
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-container {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-botton
